In [1]:
from pyspark.sql import SparkSession
# Creating a spark app to work
spark = SparkSession.builder.appName('ops').getOrCreate()

In [2]:
# Creating a dataframe with a CSV file
df = spark.read.csv('appl_stock.csv' , inferSchema=True, header = True)
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [3]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [4]:
# .head function returns list of row object
df.head(3)

[Row(Date='2010-01-04', Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039),
 Row(Date='2010-01-05', Open=214.599998, High=215.589994, Low=213.249994, Close=214.379993, Volume=150476200, Adj Close=27.774976000000002),
 Row(Date='2010-01-06', Open=214.379993, High=215.23, Low=210.750004, Close=210.969995, Volume=138040000, Adj Close=27.333178000000004)]

In [5]:
# Printing 1st row in the list
df.head(3)[0]

Row(Date='2010-01-04', Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039)

In [8]:
# Instead of using sql to return specific data we can use dataframe functions to return the datas
# We can directly pass sql conditions into the filter function of spark dataframe
df.filter('close < 500').show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [9]:
# We can select particlar columns to show using .select function
df.filter('close < 500').select('Open','High').show()

+------------------+------------------+
|              Open|              High|
+------------------+------------------+
|        213.429998|        214.499996|
|        214.599998|        215.589994|
|        214.379993|            215.23|
|            211.75|        212.000006|
|        210.299994|        212.000006|
|212.79999700000002|        213.000002|
|209.18999499999998|209.76999500000002|
|        207.870005|210.92999500000002|
|210.11000299999998|210.45999700000002|
|210.92999500000002|211.59999700000003|
|        208.330002|215.18999900000003|
|        214.910006|        215.549994|
|        212.079994|213.30999599999998|
|206.78000600000001|        207.499996|
|202.51000200000001|        204.699999|
|205.95000100000001|        213.710005|
|        206.849995|            210.58|
|        204.930004|        205.500004|
|        201.079996|        202.199995|
|192.36999699999998|             196.0|
+------------------+------------------+
only showing top 20 rows

In [11]:
# We can also use python's standard conditions by passing a entire column with condition
df.filter(df['Close']<500).select(['Open','High']).show()

+------------------+------------------+
|              Open|              High|
+------------------+------------------+
|        213.429998|        214.499996|
|        214.599998|        215.589994|
|        214.379993|            215.23|
|            211.75|        212.000006|
|        210.299994|        212.000006|
|212.79999700000002|        213.000002|
|209.18999499999998|209.76999500000002|
|        207.870005|210.92999500000002|
|210.11000299999998|210.45999700000002|
|210.92999500000002|211.59999700000003|
|        208.330002|215.18999900000003|
|        214.910006|        215.549994|
|        212.079994|213.30999599999998|
|206.78000600000001|        207.499996|
|202.51000200000001|        204.699999|
|205.95000100000001|        213.710005|
|        206.849995|            210.58|
|        204.930004|        205.500004|
|        201.079996|        202.199995|
|192.36999699999998|             196.0|
+------------------+------------------+
only showing top 20 rows

In [15]:
# Using multiple conditions
df.filter( (df['Close']<200) & ~(df['open']>200)).select(['Open','High']).show()

+------------------+------------------+
|              Open|              High|
+------------------+------------------+
|192.36999699999998|             196.0|
|        195.909998|        196.319994|
|        195.169994|        200.200003|
|        196.730003|        198.370001|
|192.63000300000002|             196.0|
|        195.690006|197.88000300000002|
|        196.419996|        197.499994|
|        195.889997|             196.6|
|        194.880001|        199.750006|
|        199.999998|        201.330002|
|         92.699997|         93.879997|
|         94.730003|         95.050003|
|         94.129997|         94.760002|
|         94.040001|         94.120003|
|         92.199997|         92.440002|
|         91.510002|             92.75|
|         92.309998|         92.699997|
|         92.269997|         92.290001|
|         92.290001|         92.300003|
|         91.849998|         92.550003|
+------------------+------------------+
only showing top 20 rows

In [16]:
# We can use .collect data to return the row objects and can save in a variable
result = df.filter( (df['Close']<200) & (df['open']>200)).select(['Open','High']).collect()
result

[Row(Open=206.78000600000001, High=207.499996),
 Row(Open=204.930004, High=205.500004),
 Row(Open=201.079996, High=202.199995)]

In [17]:
row = result[0]
row

Row(Open=206.78000600000001, High=207.499996)

In [25]:
row.count('High')

0

In [28]:
# Converting to dictionary
row.asDict()

{'Open': 206.78000600000001, 'High': 207.499996}

In [29]:
# Retriving specific data from row object
row['Open']

206.78000600000001

In [30]:
row.asDict()['High']

207.499996